<div id="user">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
    <% if current_user and current_user.admin and @user.closed %>
      <span class="badge bg-primary">Closed</span>
    <% end %>
  </p>
    
    <%if @user.ratings.empty? %>
      <%= "#{@user.username} has not yet rated" %>
    <% else %>
      <%= "#{@user.username} has #{pluralize(@user.ratings.count, "rating")} with an average of #{round(@user.average_rating)}"%><br>
      <%= "#{@user.username}'s favorite beer style is #{@user.favorite_style.name}" %><br>
      <%= "#{@user.username}'s favorite brewery is #{@user.favorite_brewery}" %>
    <%end%>
  </p>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li> <%= render rating %> 
        <% if @user == current_user %>
          <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Do you want to delete this rating?' } } %> 
        <% end %>
      </li>
    <% end %>
  </ul>

  <p>
    <%if @user.beer_clubs.empty? %>
      <%= "#{@user.username} is not a member of any beer club." %>
    <% else %>
      <%= "#{@user.username} is member of #{pluralize(@user.beer_clubs.count, "beer club")}" %>
    <%end%>
  </p>

    <ul>
    <% @user.beer_clubs.each do |club| %>
      <li> <%=link_to "#{club.name}", club %> 
      </li>
    <% end %>
  </ul>

</div>
<div>
  <% if current_user and current_user.admin %>
    <%= change_status_button(@user) %>
  <% end %>
</div>

<div>
  <% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %><br>
  <% end %>
  <%= link_to "Back to users", users_path %>
</div>
