<h2>List of ratings</h2>

<p><strong>Number of ratings: </strong><%= @ratings.count%></p>

<div id="ratings">
  <table class="table table-hover">
    <thead>
      <th><%= "Beer" %></th>
      <th><%= "Score" %></th>
      <th><%= "Rater" %></th>
    </thead>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td> 
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Rate a Beer", new_rating_path, class: "btn btn-primary" if current_user%><br>
