<h1>Ratings</h1>

<div class="row">
  <div class="col-4 col-sm-4">
    <div class="text-center" id="ratings">
      <h2>Best beers</h2>
      <table class="table table-hover">
        <thead>
          <th><%= "Beer" %></th>
          <th><%= "Average" %></th>
        </thead>
        <% Beer.top(3).each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer %></td> 
            <td><%= round(beer.average_rating) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-4 col-sm-4">
    <div class="text-center" id="ratings">
    <h2>Best breweries</h2>
      <table class="table table-hover">
        <thead>
          <th><%= "Brewry" %></th>
          <th><%= "Average" %></th>
        </thead>
        <% Brewery.top(3).each do |brewery| %>
          <tr>
            <td><%= link_to brewery.name, brewery %></td> 
            <td><%= round(brewery.average_rating) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-4 col-sm-4">
    <div class="text-center" id="ratings">
      <h2>Best styles</h2>
      <table class="table table-hover">
        <thead>
          <th><%= "Style" %></th>
          <th><%= "Average" %></th>
        </thead>
        <% Style.top(3).each do |style, score| %>
          <tr>
            <td><%= link_to style.name, style %></td> 
            <td><%= round(score) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<h2>Most active users</h2>
<ol>
  <% User.top(3).each do |user, ratings| %>
    <li><%= "#{user} #{pluralize(ratings, 'rating')}" %></li>
  <% end %>
</ol>

<h2>Recent ratings</h2>
<ul>
  <% Rating.recent.each do |rating| %>
    <li><%= "#{rating.beer.name} #{rating.score} #{rating.created_at}"%></li>
  <% end %>
</ul>


<%= link_to "Rate a Beer", new_rating_path, class: "btn btn-primary" if current_user%><br>
