<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <div id="<%= dom_id beer %>">
      <p>
        <strong>Name:</strong>
        <%= link_to beer.name, beer %>
      </p>

      <p>
        <strong>Style:</strong>
        <%= link_to beer.style.name, beer.style %>
      </p>

      <p>
        <strong>Brewery:</strong>
        <%brewery = Brewery.find_by id: beer.brewery_id %>
        <%=link_to brewery.name, brewery %>
      </p>

    </div>
  <% end %>
</div>

<%= link_to "List of Breweries", breweries_path %><br>
<%= link_to("New beer", new_beer_path) if current_user %><br>
