<% places = Rails.cache.read(session[:city]) %>
<% places.each do |place| %>
    <% if place.id == @place_id%>
        <h2><%= place.name %></h2>
        <%= place.status %><br>
        <%= place.street %><br>
        <%= place.zip %><%= place.city %>
    <% end %>
<% end %>
